# This file contains Apache configuration settings for URL rewriting and security.

RewriteEngine On

# Redirect to the index.php file for all requests
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ pages/index.php [L]

# Prevent access to sensitive files
<FilesMatch "\.(sql|php)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>