/* Định dạng chung */
body {
    background-color: #F2F2F2
    /* background: url('../images/coffindance.jpg')    no-repeat center center/cover; */
}

/* Khung form đăng nhập và đăng ký */
.login-container, .register-container {
    width: 400px;
    margin: 80px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.register-container {
    width: 450px;
    margin: 50px auto;
    padding: 25px;
}

/* Nút bấm */
.btn-custom {
    background-color: #f4a261;
    border: none;
    color: white;
}

.btn-custom:hover {
    background-color: #e76f51;
}

/* Navbar */
.navbar-brand {
    font-weight: bold;
}

/* Hero Section (Banner chính) */
.hero-section {
    background: url('../images/sleeping.jpg') no-repeat center center/cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

/* Hiệu ứng khi di chuột vào thẻ card */
.card:hover {
    transform: scale(1.05);
    transition: 0.3s;
}
/* user */
.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    width: 350px;
}
.popup-content {
    text-align: center;
}
.popup input {
    width: 100%;
    margin-bottom: 10px;
}

/* header */
.navbar {
    background-color: #CB0101 !important; 
}
.navbar-nav .nav-link {
    font-weight: bold;
    color: white; 
}


